.pointer {
  width: 100%;
  border: 15px solid white;
  height: 6000px;
  box-sizing: border-box;
  background-color: #E7E7E7;
  position: relative;
  top: -100px;
  z-index: 20; }

@keyframes index {
  0% {
    top: -100px; }
  100% {
    top: 0px; } }

.box {
  width: 1250px;
  margin: auto; }

.flower {
  float: right;
  margin-top: 110px; }

.G {
  display: block;
  width: 50px;
  height: 50px;
  background: url(../images/Gucci/icon.png) -767px -85px no-repeat;
  margin: -40px auto; }

.box1 {
  text-align: center;
  height: 865px; }
  .box1 .indexmid-right {
    display: block;
    float: right;
    width: 180px;
    margin: 140px 50px; }
  .box1 #midgoods {
    float: right;
    width: 700px;
    margin-top: 40px;
    height: 570px;
    overflow: hidden; }
    .box1 #midgoods a img {
      margin-top: -110px; }
  .box1 .text-intro {
    width: 100%;
    float: right;
    text-align: center;
    font-size: 35px;
    font-family: hyx;
    line-height: 35px;
    padding-bottom: 30px; }
  .box1 .buyit {
    width: 100%;
    float: right;
    text-align: center; }

.line {
  width: 100%;
  height: 1px;
  background-color: white; }

#box2 {
  height: 2550px;
  text-align: center;
  position: relative;
  perspective: 2000px;
  perspective-origin: center; }
  #box2 .indexmid-right {
    display: block;
    float: right;
    width: 180px;
    margin: 140px 50px; }
  #box2 .indexmid-left {
    display: block;
    float: left;
    width: 180px;
    margin: 140px 50px;
    position: absolute; }
  #box2 .indexmid-left1 {
    top: 950px;
    left: 0; }
  #box2 .indexmid-left2 {
    top: 1780px;
    right: 0; }
  #box2 #midgoods2 {
    float: right;
    width: 457px;
    margin-top: 40px;
    overflow: hidden;
    position: relative;
    left: -200px; }
  #box2 .text-intro {
    width: 100%;
    float: right;
    text-align: center;
    font-size: 35px;
    font-family: hyx;
    line-height: 35px;
    padding-bottom: 30px;
    position: absolute;
    bottom: 120px; }
  #box2 .buyit {
    width: 100%;
    float: right;
    text-align: center;
    position: absolute;
    bottom: 50px; }

#box3 {
  width: 100%;
  height: 673px;
  position: relative; }
  #box3 .indexmid-center {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 120px;
    height: 225px;
    background: white;
    padding: 44px 20px;
    font-family: hyx; }
    #box3 .indexmid-center .arter {
      font-size: 23px;
      line-height: 24px;
      text-align: center;
      padding-bottom: 27px; }
    #box3 .indexmid-center i {
      font-size: 14px;
      line-height: 20px; }

.box4 {
  text-align: center;
  height: 865px; }
  .box4 .indexmid-right {
    display: block;
    float: right;
    width: 180px;
    margin: 140px 50px; }
  .box4 #midgoods4 {
    float: right;
    width: 700px;
    margin-top: 40px;
    height: 570px;
    overflow: hidden; }
    .box4 #midgoods4 a img {
      margin-top: -110px; }
  .box4 .text-intro {
    width: 100%;
    float: right;
    text-align: center;
    font-size: 35px;
    font-family: hyx;
    line-height: 35px;
    padding-bottom: 30px; }
  .box4 .buyit {
    width: 100%;
    float: right;
    text-align: center; }

.box5 {
  text-align: center;
  height: 1045px; }

.title5 {
  font-size: 36px;
  line-height: 146px;
  display: inline-block;
  border-bottom: 1px solid #d0c4ae;
  font-family: hyx;
  margin-bottom: 35px; }

.card {
  float: left;
  font-family: hyz;
  width: 342px;
  float: left; }

.cardtitle {
  line-height: 20px;
  font-size: 20px;
  margin: 45px 0 8px 0;
  font-family: hyz; }

.cardins {
  cursor: pointer;
  color: #717171; }

footer {
  position: absolute; }

img {
  width: 100%;
  height: auto; }

.banner {
  position: relative;
  top: 0;
  z-index: 6;
  width: 100%; }

@media only screen and (min-width: 1040px) and (max-width: 1480px) {
  .banner-title {
    position: relative;
    top: 120px !important; }
  #midgoods, #midgoods3, #midgoods4, #midgoods5 {
    width: 593px !important; }
  #midgoods2 {
    width: 457px !important;
    left: -30px !important; }
  .box {
    width: 1000px; }
  .card {
    width: 263px; }
  @keyframes index {
    0% {
      top: -100px; }
    100% {
      top: 0px; } } }

@media only screen and (min-width: 760px) and (max-width: 1040px) {
  .banner-title {
    position: relative;
    top: 200px; }
  .banner-title p {
    font-size: 48px; }
  .box {
    width: 100%; }
  #midgoods, #midgoods3, #midgoods4, #midgoods5 {
    width: 50% !important; }
  .card:nth-child(2) {
    display: none; }
  .pointer {
    top: -140px !important; }
  @keyframes index {
    0% {
      top: -140px; }
    100% {
      top: -50px; } } }

@media only screen and (min-width: 480px) and (max-width: 760px) {
  .banner-title {
    position: relative;
    top: 150px; }
  .banner-title p {
    font-size: 38px; } }

@media only screen and (min-width: 320px) and (max-width: 1080px) {
  .indexmid-right {
    display: none !important; }
  .indexmid-left {
    display: none !important; }
  #midgoods a {
    width: 50% !important; }
    #midgoods a img {
      width: 100% !important; }
  .box {
    width: 1000px !important; }
  @keyframes index {
    0% {
      top: -240px; }
    100% {
      top: -110px; } }
  .box5 {
    width: 1000px !important; }
  .box5 .card:nth-child(1) {
    display: none !important; }
  .box5 .card:nth-child(2) {
    display: none !important; } }

@media only screen and (min-width: 320px) and (max-width: 500px) {
  #midgoods, #midgoods2, #midgoods3, #midgoods4 {
    margin-right: 152px; }
  video {
    display: none; } }
