.goods-li {
  float: left;
  width: 19.9%;
  margin-right: 1px;
  background-color: #e7e7e7;
  text-align: center;
  height: 345px;
  margin-bottom: 1px;
  position: relative;
  box-sizing: border-box;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 60px;
  cursor: pointer; }
  .goods-li img {
    width: 70%; }
  .goods-li .goods-information {
    position: absolute;
    background-color: white;
    z-index: 22;
    display: none;
    width: 100%;
    box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.1); }

.goods-li:nth-child(1) {
  width: 39.9%;
  float: right;
  height: 691px; }
  .goods-li:nth-child(1) img {
    width: auto; }
  .goods-li:nth-child(1) .goods-information {
    box-shadow: 0 0 0 0; }

.goods-li:nth-child(8) {
  width: 39.9%;
  height: 691px; }
  .goods-li:nth-child(8) img {
    width: auto; }
  .goods-li:nth-child(8) .goods-information {
    box-shadow: 0 0 0 0; }

#maingoods {
  background: white; }

.goods-out {
  position: absolute;
  top: 60px;
  width: 100%;
  text-align: center;
  display: none; }

.goods-p1 {
  font-size: 14px;
  padding-top: 14px;
  padding-bottom: 10px; }

.goods-p2 {
  font-size: 14px;
  line-height: 25px; }

.goods-li:hover .goods-information {
  display: block; }

.goods-li:hover {
  background-color: white !important;
  box-shadow: 1px 1px 30px 2px lightgray; }

.goods-li:hover .goods-out {
  display: block; }

.goods-li:nth-child(1):hover {
  box-shadow: 0 0 0 0; }

.goods-i {
  font-size: 12px;
  padding: 0 130px;
  position: absolute;
  top: 25px;
  box-sizing: border-box;
  width: 100%;
  line-height: 20px;
  z-index: 20;
  left: 0; }

@media only screen and (min-width: 320px) and (max-width: 1326px) {
  .goods-li .goods-information {
    display: block;
    background-color: #e7e7e7;
    box-shadow: 0 0 0 0; }
  .goods-li:hover {
    background-color: #e7e7e7 !important;
    box-shadow: 0 0 0 0; }
  .goods-li:hover .goods-out {
    display: none; }
  .goods-li:nth-child(1) img {
    width: 80%; }
  .goods-li:nth-child(8) img {
    width: 80%; }
  .goods-i {
    padding: 0 50px; } }
